@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Newake';
    src: url('../fonts/Newake.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Sora;
}

svg {
    line-height: 0;
}

.cccc {
    /* 50 */
    color: rgba(246, 245, 253, 0.5);
    /* 100 */
    color: rgba(240, 237, 250, 0.5);
    /* 200 */
    color: rgba(227, 221, 247, 0.5);
    /* 300 */
    color: rgba(206, 194, 240, 0.5);
    /* 400 */
    color: rgba(180, 159, 230, 0.5);
    /* 500 */
    color: rgba(155, 120, 218, 0.5);
    /* 600 */
    color: rgba(138, 90, 205, 0.5);
    /* 700 */
    color: rgba(122, 72, 185, 0.5);
    /* 800 */
    color: rgba(102, 60, 155, 0.5);
    /* 900 */
    color: rgba(85, 50, 128, 0.5);
    /* 950 */
    color: rgba(53, 31, 86, 0.5);
}